.fabric {
  max-width: 1200px;
  font-size: 16px;

  &__item {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey2;

    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 10px;
    color: $main;
    text-align: left;
    text-transform: none;
    text-decoration: underline;
  }

  &__text {
    line-height: 1.8;
    margin-bottom: 10px;
  }

  &__props {

  }

  &__prop {
    margin-bottom: 0;
    
    &-name {
      font-weight: 600;
    }
  }
}
