.swap-btn {
  position: relative;

  &__text {
    position: absolute;
    left: 25px;
    top: 0;
    line-height: 1;

    &--default {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: all .3s;
    }

    &--active {
      visibility: hidden;
      opacity: 0;
      transform: translateY(20px);
      transition: all .3s;
    }
  }

  &.is-active {
    .swap-btn__text--default {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-20px);
      transition: all .3s;
    }

    .swap-btn__text--active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: all .3s;
    }
  }
}