.icon-big-arrow-left {
  width: 4.25em;
  height: 1em;
}
.icon-cart-item {
  width: 1.09em;
  height: 1em;
}
.icon-cart {
  width: 1.04em;
  height: 1em;
}
.icon-check {
  width: 1.4em;
  height: 1em;
}
.icon-close {
  width: 1em;
  height: 1em;
}
.icon-download {
  width: 1em;
  height: 1em;
}
.icon-fb {
  width: 0.5em;
  height: 1em;
}
.icon-heart {
  width: 1.12em;
  height: 1em;
}
.icon-history {
  width: 1em;
  height: 1em;
}
.icon-left-arrow {
  width: 0.65em;
  height: 1em;
}
.icon-list {
  width: 1.32em;
  height: 1em;
}
.icon-lk {
  width: 1em;
  height: 1em;
}
.icon-login {
  width: 1em;
  height: 1em;
}
.icon-logout {
  width: 1em;
  height: 1em;
}
.icon-magnifier {
  width: 1em;
  height: 1em;
}
.icon-mail {
  width: 1.33em;
  height: 1em;
}
.icon-map {
  width: 0.8em;
  height: 1em;
}
.icon-minus {
  width: 1em;
  height: 1em;
}
.icon-my-world {
  width: 1.46em;
  height: 1em;
}
.icon-ok {
  width: 1.05em;
  height: 1em;
}
.icon-phone {
  width: 1em;
  height: 1em;
}
.icon-plus {
  width: 1em;
  height: 1em;
}
.icon-right-arrow {
  width: 0.65em;
  height: 1em;
}
.icon-settings {
  width: 0.91em;
  height: 1em;
}
.icon-shevron-bottom {
  width: 1.71em;
  height: 1em;
}
.icon-shevron-left {
  width: 1em;
  height: 1em;
}
.icon-shevron-right {
  width: 1em;
  height: 1em;
}
.icon-skype {
  width: 1.06em;
  height: 1em;
}
.icon-star {
  width: 1.08em;
  height: 1em;
}
.icon-time {
  width: 1em;
  height: 1em;
}
.icon-tw {
  width: 1.21em;
  height: 1em;
}
.icon-user {
  width: 1em;
  height: 1em;
}
.icon-viber {
  width: 1.05em;
  height: 1em;
}
.icon-vk {
  width: 1.64em;
  height: 1em;
}
.icon-whatsapp {
  width: 1.06em;
  height: 1em;
}
